/*
 * Globals
 */



/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */
html, body {
    min-height: 100vh;
}

body {
    color: #000;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    overflow: auto;
}

.container {
    max-width: 1040px;
}

.error-msg {
    background-color: rgb(245, 207, 207);
    color: rgb(145, 36, 36);
    padding: 8px 16px;
}

.success-msg {
    background-color: rgb(215, 245, 207);
    color: rgb(52, 145, 36);
    padding: 8px 16px;
}

.info-msg {
    background-color: rgb(207, 210, 245);
    color: rgb(36, 61, 145);
    padding: 8px 16px;
}

.hidden {
    display: none;
}

.red {
    color: rgb(145, 36, 36);
}

.green {
    color: rgb(5, 85, 5);
}

.blue {
    color: rgb(3, 35, 139);
}

.bg-red {
    background-color: rgb(100, 9, 9);
    color: #fff;
}

.bg-green {
    background-color: rgb(8, 73, 8);
    color: #fff;
}

.bg-blue {
    background-color: rgb(3, 35, 139);
    color: #fff;
}

.bg-purple {
    background-color: rgb(127, 3, 199);
    color: #fff;
}

.bg-light-blue {
    background-color: rgb(2, 126, 120);
    color: #fff;
}

.label {
    padding: 4px 8px;
    border-radius: 3px;
}

.title-small {
    margin: 0;
    padding: 0;
    color: rgb(5, 85, 5);
}

/*
 * Header
 */
.topbar {
    color: #fff;
    background-color: #333;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    width: 100%;
    height: 56px;
}

/* Links */
.topbar a,
.topbar a:focus,
.topbar a:hover {
    color: #fff;
}

.logo {
    height: 56px;
    float: left;
    display: flex;
    align-items: center;
}

.logo h3 {
    margin-bottom: 0px;
}

.navbar {
    float: right;
    padding: 0px;
    margin: 0px;
    height: 56px;
}

.clearfix {
    clear: both;
}

.nav-link {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:hover,
.nav-link.active {
    background-color: #444;
}

/*
 * Account
 */
.center-content {
    display: grid;
    justify-content: center;
    align-content: center;
}

.form-logo {
    height: 130px;
    width: 130px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.form-signin {
    width: 250px;
}

.page-title {
    margin-top: 50px;
}

.account-details table td {
    padding: 2px 8px;
}


/*
 * Incidents
 */
#incidents-table,
.custom-table {
    width: 100%;
    margin-bottom: 24px;
}

#incidents-table td,
#incidents-table th,
.custom-table td,
.custom-table th {
    padding: 12px 12px;
    text-align: center;
}

#incidents-table th,
.custom-table th {
    background-color: #333;
    color: #fff;
}

/*
 * Admin Panel
 */
.admin-userTable {
    text-align: center;
}

.admin-btnValidate {
    padding: 4px 8px;
    margin-top: -6px;
}

/*
 * Register
 */
.form-signin {
    min-width: 300px;
}

.form-signin label {
    margin-top: 12px;
}

.form-signin label:first-child {
    margin-top: 0px;
}

/*
 * Map
 */
div#map {
    height: 100vh;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}
